<form action="/new" method="POST">
    <label for="msg">Message:</label>
    <textarea name="messageText" id="msg" rows="40" cols="40"></textarea>
    <label for="user">User:</label>
    <input type="text" id="user" name="messageUser">
    <button type="submit">Submit</button>
</form>