<html>
    <head>
        <title>Mini-Messaging Board</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <ul class="messages">
            <%for(let i = 0; i < messages.length; i++) {%>
                <li>
                    <a href="/messages/<%=i%>" class="message-link">    
                        "<%=messages[i].message%>" - <%=messages[i].username%> (<%=messages[i].added%>)
                    </a>
                </li>
            <%}%>
        </ul>
        <a href="/new" class="navigate">Add new message</a>
    </body>
</html>