<html>
    <head>
        <title>Message by <%=message.user%></title>
    </head>
    <body>
        <div class="message-body">
            <div class="txt"><%=message.text%></div>
            <div class="user">- <%=message.user%></div>
            <div class="time"><%=message.added%></div>
        </div>
    </body>
</html>